@charset "utf-8";

:root{
    --primary-color:#E71471 ;
    --secondary-color:#D49855 ;
    --third-color:#f1f1f1;
    --four-color:#FE0000;
    --black-color:#000;
}

/* font */
.f25{font-size: 25px; font-weight: bold;}
.fa13{font-size: 13px; color: #a1a1a1; font-weight: bold;}


/* button */
.btn{border-radius: 0;}
.brn{padding: 2px 10px; font-size: 13px; font-weight: bold; margin-bottom: 10px;}
.bbn{padding: 5px 50px; margin-bottom: 20px; font-weight: bold; margin-top: 5px;}





#headerWrap{
    background: var(--black-color); height: 100px; line-height:100px; 
    position: relative;
}
#headerWrap .header{
    position: absolute;
    width: 100%;height: 30px;
    top: 0;
    background: #fff;
}
#headerWrap .header p{color:white; text-align: center;}


/* #headerWrap .video video{
    width: 100%;object-fit: fill;
    border-radius: 5px;
    box-shadow:10px 10px 25px rgba(0,0,0,0.4)
} */
/* #headerWrap .video .txt{position: absolute;bottom: 10px;right: 30px;} */
#headerWrap .card-view{
    /* border-radius: 5px; */
    overflow: hidden;
    /* box-shadow:10px 10px 25px rgba(0,0,0,0.4) */
}
.navbar{transition:0.3s}
.navbar.onView{
    background: #000; text-align: center;
}


/* slider */
.slide-txt img{position: relative;}
.slide-txt{position: absolute; left: 57%; bottom:10%; font-weight: bold;}

.b li{float: left; margin-right: 20px;}

.slider .row h1{font-weight: bold;font-size: 25px; margin-bottom: 20px;}
.slider .row h4{font-size: 15px; margin-bottom: 5px;}



/* service */
.service{background: var(--third-color)}
.card{border-radius: 0; border: 0;}



.slider .swiper-next{
    position: absolute;right: 0;
    width: 20px;height: 38px;background-image: url(../images/right-arrow.svg);
}
.slider .swiper-prev{
    position: absolute;top:50%;transform:translateY(-50%);left: 0;
    width: 20px;height: 38px;background-image: url(../images/left-arrow.svg);
}


.banner .card{
    border: 0 none;overflow: hidden;
    /* box-shadow:10px 10px 25px rgba(0,0,0,0.4); */
    cursor:pointer
}
.banner .card .card-img{position: relative;}
.banner .card .mask{
    background: rgba(2,240,228,0.3);position: absolute;width: 100%;height: 100%;
    top:0;transition:0.3s
}
.banner .card:hover .mask{opacity:0}

.advan{position: relative;}
.advan .icon{
    width: 80px;height: 80px;border-radius: 40px;
    box-shadow:10px 10px 25px rgba(0,0,0,0.2);
}
.advan .title1st{color: var(--primary-color)}
.advan .title2st{color: var(--secondary-color)}
.advan .title3st{color: var(--third-color)}

.advan .img-view{position: relative;height: 400px;}
.advan .img-view img{
    position: absolute;border-radius:5px;
    box-shadow:10px 10px 25px rgba(0,0,0,0.2);
}

.advan .img-view .img-1st{right: 0;top: 0;width: 400px;}
.advan .img-view .img-2st{left: 0;bottom: 0;width:300px}
.advan .img-view .img-3st{left: 0;top: 0;width:400px}
.advan .img-view .img-4st{right: 10px;bottom: 10px;width:400px}
.advan .img-view .img-5st{right: 0;top: 0;width:400px}
.advan .img-view .img-6st{left: 0;bottom: 0;width:300px}


.advan .bgcolor{
    position: absolute;
    width: 100%;height: 1000px;
    background-image: linear-gradient(316deg, #02ccba 0%, #aa7ecd 100%);
    transform:skew(0,10deg);
    left:0;top:200px
}

.contact{
    background: url(../images/main_bg4.jpg) no-repeat center fixed;
    background-size: cover;
}








/* subpage company */
.subpage{
    background: skyblue;position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.subpage.company{
    background-image: url(../images/contact-cover.jpg);
}

.subpage.cata{
    background-image: url(../images/nano2.jpg);
}

/* subcontent */
.subcontent{position: relative;}