@charset "utf-8";

body{font-family: 'IBM Plex Sans KR', sans-serif;}


.fw15{color: gray; font-size: 15px;}
.fw20{color: black; font-size: 20px; margin-bottom: 30px;}
.fw30{color: black; font-size: 30px; font-weight: bold; margin-bottom: 20px;}
.fr20{color: brown; font-size: 20px;}





.section{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    position: relative;   
}
.section.page1{background-image: url(../images/bg01.jpg);}
.section img{position: absolute; top: 0;}




.section.page2{background-image: url(../images/bg02.jpg);}
.section.page3{background-image: url(../images/bg03.jpg);}
.section.page4{background-image: url(../images/bg04.jpg);}

.section .view{width: 100%;height: 100%;position: relative;}

#navTop{
    position: fixed;z-index: 1; width: 100%;
    display: flex; align-items:end; justify-content:space-around;
    box-sizing: border-box !important; padding-top: 10px;
}
#navTop h1{margin-right: auto;font-size: 1.5em;}
#topMenu li{float: left;width: 100px;}
#topMenu li a{display: block;line-height: 40px;text-align: center;}
#topMenu li:hover,
#topMenu li.active{color: plum;}


ul{margin-bottom: 0;}