@charset "utf-8";

body{font-family: 'IBM Plex Sans KR', sans-serif;}


.scrollBtn{
            position: absolute;bottom: 30px;left:50%;transform:translateX(-50%);
            animation: xScroll 0.8s infinite alternate;
        }
        @keyframes xScroll {
            to{bottom: 50px;}
        }

        @media screen and (max-width:765px){
            .section .view03{transform:translateY(0px)}
            .scrollBtn{_display: none;}
        }


/* font */

.fw20{color: white; font-size: 20px;}
.fw30{
    color: white; font-size: 30px; font-weight: bold; 
    margin-bottom: 30px;
}
.fb15{color: black; font-size: 15px;}
.fd20{color: #d1904a; font-size: 20px;}
.fg20{color: gray; font-size: 15px;}
.fb20{color: black; font-size: 20px; margin-bottom: 30px;}
.fb30{color: black; font-size: 30px; font-weight: bold; margin-bottom: 20px;}
.fr20{color: brown; font-size: 20px;}



.mt20{margin-top: 20px;}
.mb30{margin-bottom: 30px;}



.section{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    position: relative;   
}
.section.page1{background-image: url(../images/bg01.jpg);}
.section img{position: absolute; top: 0;}




.section.page2{background-image: url(../images/bg02.jpg);}
.section.page3{background-image: url(../images/bg03.jpg);}
.section.page4{background-image: url(../images/bg04.jpg);}

.section .view{width: 100%;height: 100%;position: relative;}

#navTop{
    position: fixed;z-index: 1; width: 100%;
    display: flex; align-items:end; justify-content:space-around;
    box-sizing: border-box !important; padding-top: 10px;
}
#navTop h1{margin-right: auto;font-size: 1.5em;}
#topMenu li{float: left;width: 100px;}
#topMenu li a{display: block;line-height: 40px;text-align: center;}

#topMenu li:hover a,
#topMenu li.active a{color: #D1904A;}
#topMenu li:nth-child(1).active a{color: initial;}


ul{margin-bottom: 0;}



.section.page4{padding-bottom: 100px;}

.box{display: flex; justify-content:space-around; margin-top: 100px;}
.box1, .box2, .box3{
    width: 500px; height: 300px; background: white;
}
