@charset "utf-8";
body{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 14px;
}


.topWrap{background: #0763a2 url(../topbg01.png) no-repeat center;}
.topWrap .top{
    width: 980px; margin: 0 auto; color: white; position: relative; height: 90px;
}
    




.searchInp{
    width: 400px; height: 50px; border-radius: 25px;
    border: 2px solid #000; font-size: 18px; text-indent: 90px;
}
.searchTitle{
    display: block; position: absolute;
    width: 60px; height: 20px;
    background: url(../images/searchtext.jpg);
    text-indent: -9999px; 
    top: 50%; transform: translateY(-50%);
    left: 20x;

}
.searchBtn{
    position: absolute; right: 10px; 
    top: 50%; transform: translateY(-50%);
    width: 40px; height: 40px;
    border: 1px solid #aaa; 
    border-radius: 50%;
    text-indent: -9999px;
    background: url(../images/search.jpg) no-repeat center;
}
input[type="text"]:focus{outline: none;}




.topWrap .sns ul li{float: left; margin-right: 10px;}
.topWrap .sns ul li:nth-child(1){margin-right: 20px;}









/* menu */
.top2{background: #FAFAFA;}
.top2 ul{margin: 0 auto; width: 980px;}
.top2 ul li{float: left; border-right: 1px solid #ddd;width: calc(100% / 6);}
.top2 ul li:nth-child(1){border-left: 1px solid #ddd;}
.top2 ul li:nth-child(4){background: url(../images/n.png) no-repeat 80% 50%}
.top2 ul li a{
    display: block; height: 61px; line-height: 61px;
    font-size: 18px; font-weight: bold; color: #152630;
    text-align: center; 
}
.top2 ul li a:hover{background: #777; color:  white;}








/* flex  */
.top{display: flex; justify-content: space-between; align-items:center}
.search{width: 200px;height:50px;}
.sns{width: 300px;height:40px;}
