@charset "utf-8";
body{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 14px;
}

.topWrap{background: #0763a2 url(../topbg01.png) no-repeat center;}
.topWrap .top{
    width: 980px; margin: 0 auto; color: white; position: relative; height: 90px;
}
    



.searchInp{
    width: 290px; height: 30px; border-radius: 25px;
    font-size: 12px; text-indent: 100px;
}
.searchTitle{
    display: block; position: absolute;
    width: 60px; height: 20px;
    background: url(../images/searchtext.jpg);
    text-indent: -9999px; 
    top: 40%; transform: translateX(40%) translateY(-15%);
}


.searchBtn{
    position: absolute;
    top: 50%; transform: translateX(610%) translateY(-55%);
    width: 40px; height: 40px;
    border: 0px solid #aaa; 
    border-radius: 50%;
    text-indent: -9999px;
    background: url(../images/search.jpg) no-repeat center;
}

input[type="text"]:focus{outline: none;}


.topWrap .sns ul li{float: left; margin-right: 10px;}
.topWrap .sns ul li:nth-child(1){font-size: 18px;}


/* flex  */
.top{display: flex; justify-content: space-between; align-items:center}
.search{width: 200px;height:35px;}
.sns{width: 300px;height:25px;}







/* menu */
.top2{background: #FAFAFA; border-bottom: 5px solid #0E73A7;}
.top2 ul{margin: 0 auto; width: 980px;}
.top2 ul li{float: left; border-right: 1px solid #ddd;width: calc(100% / 6);}
.top2 li.active{background: #777;}

.top2 ul li:nth-child(1){border-left: 1px solid #ddd;}
.top2 ul li:nth-child(4){background: url(../images/n.png) no-repeat 80% 50%}
.top2 ul li a{
    display: block; height: 61px; line-height: 61px;
    font-size: 18px; font-weight: bold; color: #152630;
    text-align: center; 
}
.top2 ul li a:hover{background: #777;}







/* visual */
.visualWrap{
    background: url(../images/visual_bg02.png) no-repeat center;
    position: relative; background-size: cover;
}
.visual{width: 980px; margin: 0 auto; width: 980px;}

.choose{float: left; background: #fff;}
.choose .slider{float: left;}




fieldset{border: 0;}
.blind{display: block;position: absolute;left: 0;top: -9999px;}

/* .form{width: 400px;margin: 0 auto;} */

.form label{display: block; padding: 10px 0;}
.form select{
    width: 100%;height: 40px;font-size: 1em;
    border-radius:5px; text-indent: 10px;
}

.form .left,
.form .right{width: 195px;float: left;}
.form .right1{width:87px;float: right;}


.form .left,
.form .right1{margin-right: 10px;}
            
.form .left input,
.form .right input,
.form .right1 input{
    width: 100%;
    height: 40px;font-size: 1em;border-radius: 5px;text-indent: 10px;
}

.form .btn-submit{
    width: 100%; height: 38px; margin-top: 20px; background: #EA4F1F;
    border: 0;
    background-image: url(../images/search_icon.png);
    background-repeat: no-repeat;
    background-position: 50% 10px;
    text-indent: -9999px;
}





/* .sliderPager{position: absolute; top: 0;width: 130px;height: 80px;}
.sliderPager .bxPager{height: 100%;background: #000;}
.sliderPager .bxPager a{
    display: block;
    height:25%;
    display: flex;justify-content: center;align-items: center;
    text-align: center;line-height: 80px;
    background:#006599;
}
.sliderPager .bxPager a.active{background: white;} */

.slider{}



.txt{float: right;}

.txt h1{font-size: 65px; margin-bottom: 20px;}
.txt h1:after{
    content:"";width: 95px;height: 4px;
    background: #000;display: block;
    position: absolute;top:80px; right: 20px;
    border-radius:2px
}

.txt p{font-size: 30px;}




/* box */
.box{_background: green; height: 250px; margin-bottom: 10px;}

.box .box1{float: left; position: relative; margin-right: 12px;}
.box .box1 .memo{
    position: absolute; bottom: 0; width: 100%;
    background: #152630;
}
.box .box1 .memo p{
    position: absolute; right: 40px; bottom: 15px;
    font-size: 17px; color: #6DBD62;
}
.box .box1 .memo a{
    float: left; color: white; font-size: 17px; line-height: 50px;
    margin-left: 20px;
}



.box .box2{float: left; position: relative;}
.box .box2 .memo{
    position: absolute; bottom: 0; width: 100%;
    background: #152630;
}
.box .box2 .memo p{
    position: absolute; right: 60px; bottom: 15px;
    font-size: 17px; color: #6DBD62;
}
.box .box2 .memo a{
    float: left; color: white; font-size: 17px; line-height: 50px;
    margin-left: 20px;
}


/* banner */
.banner{
    _background: plum; width: 980px;
    margin: 0 auto;
}
.banner ul li{float: left; width: calc((100% - 60px) / 4); margin-right: 20px;}
.banner ul li:last-child{margin-right: 0; margin-bottom: 20px;}


/* 1 */
.banner ul li:nth-child(1){
    position: relative;
}
.banner ul li:nth-child(1) .title{
    position: absolute; bottom: 0; width: 233px;
    background: #529351; padding: 15px;
}
.banner ul li:nth-child(1) .title h3{
    color: white; font-size: 16px; margin-bottom: 5px;
}


/* 2 */
.banner ul li:nth-child(2){
    position: relative;
}
.banner ul li:nth-child(2) .title{
    position: absolute; bottom: 0; width: 233px;
    background: #152630; padding: 15px;
}
.banner ul li:nth-child(2) .title h3{
    color: white; font-size: 16px; margin-bottom: 5px;
}




/* 3 */
.banner ul li:nth-child(3){
    position: relative;
}
.banner ul li:nth-child(3) h1{ 
    position: absolute; top: 10px; right: 90px;
    font-size: 20px; color: white;
}
.banner ul li:nth-child(3) .title{
    position: absolute; bottom: 0; width: 233px;
    background: rgba(0,0,0,0.8); padding: 15px;
}
.banner ul li:nth-child(3) .title h3{
    color: white; font-size: 16px;
}
.banner ul li:nth-child(3) .title p{
    color: #999; font-size: 15px;
}


/* 4 */
.banner ul li:nth-child(4){
    position: relative;
}
.banner ul li:nth-child(4) .title{
    position: absolute; bottom: 0; width: 233px;
    background: #44619D; padding: 15px;
}
.banner ul li:nth-child(4) .title h3{
    color: white; font-size: 16px;
}
.banner ul li:nth-child(4) .title p{
    color: #999; font-size: 15px;
}







/* content */
.content{width: 980px; margin: 0 auto;}
.content ul li{float: left; width: calc((100% - 60px) / 4); margin-right: 20px;}
.content ul li:last-child{margin-right: 0;}






/* plus1 */
.plus1{
    width:233px; height: 240px; position: relative;
    transition:0.3s; overflow: hidden;
}
.ic{
    position: absolute; display: block; text-align: center;
    top: 30px; left: 30px; transition: 0.3s;
}
.ic img{margin-left: 15px;}
.ic h1{color: white; font-size: 19px; margin-bottom: 10px; margin-left: 5px;}
.ic p{color: white; font-size: 14px;}


.plus1 img{
    position: absolute;
    transition:0.3s;
}

.plus1:hover img{
    transform:scale(1.1);
}
.plus1:hover .ic{top: 25px;}

.plus1 .bg{
    width: 100%;height: 100%;
    position: relative;
    opacity:0.1;transition:0.3s;background: #000;
}
.plus1:hover .bg{opacity:0.5}

.plus1 .circle{
    position: absolute;
    width: 30px;height: 30px;
    left:50%;top:50%;transform:translate(-50%,-50%);
    transition:0.3s;border: 3px solid #fff;
    border-radius:50%;
    animation-duration: 0.3s; 
}

.circle .bar1,
.circle .bar2{
    width: 15px;height: 2px;background: #fff;position: absolute;
    border-radius:2px;left: 50%;top: 50%;transform:translate(-50%,-50%)
}

.circle .bar1{transform:translate(-50%,-50%) rotate(90deg)}

.plus1:hover .circle,
.plus2:hover .circle,
.plus4:hover .circle{
    transform:translate(-50%,-50%) rotate(90deg);
}



/* plus2 */
.plus2{
    width:233px; height: 240px; position: relative;
    transition:0.3s; overflow: hidden;
}
.ic1{
    position: absolute; display: block; text-align: center;
    bottom: 30px; left: 30px; transition: 0.3s;
}
.ic1 img{margin-left: 15px;}
.ic1 h1{color: white; font-size: 19px; margin-bottom: 10px; margin-left: 5px;}
.ic1 p{color: white; font-size: 14px;}


.plus2 img{
    position: absolute;
    transition:0.3s;
}

.plus2:hover img{
    transform:scale(1.1);
}
.plus2:hover .ic1{bottom: 25px;}

.plus2 .bg{
    width: 100%;height: 100%;
    position: relative;
    opacity:0.5;transition:0.3s;background: #000;
}
.plus2:hover .bg{opacity:0.8}

.plus2 .circle{
    position: absolute;
    width: 30px;height: 30px;
    left:50%;top:50%;transform:translate(-50%,-50%);
    transition:0.3s;border: 3px solid #fff;
    border-radius:50%;
    animation-duration: 0.3s; 
}



/* plus4 */
.plus4{
    width:233px; height: 240px; position: relative;
    transition:0.3s; overflow: hidden;
}
.ic{
    position: absolute; display: block; text-align: center;
    top: 30px; left: 30px; transition: 0.3s;
}
.ic img{margin-left: 20px; margin-top: -5px;}
.ic h1{color: white; font-size: 19px; margin-bottom: 10px; margin-left: 5px;}
.ic p{color: white; font-size: 14px;}


.plus4 img{
    position: absolute;
    transition:0.3s;
}

.plus4:hover img{
    transform:scale(1.1);
}
.plus4:hover .ic{top: 25px;}

.plus4 .bg{
    width: 100%;height: 100%;
    position: relative;
    opacity:0.4;transition:0.3s;background: #000;
}
.plus4:hover .bg{opacity:0.7}

.plus4 .circle{
    position: absolute;
    width: 30px; height: 30px;
    left:50%;top:50%;transform:translate(-50%,-50%);
    transition:0.3s;border: 3px solid #fff;
    border-radius:50%;
    animation-duration: 0.3s; 
}



/* subpage */
.subContent .subImg{
    height: 300px; background: skyblue;
    display: flex; justify-content: center; align-items: center;
    background-repeat: no-repeat;background-position: center;
    background-size: cover;
}
.subContent .container{width: 980px; margin: 0 auto; padding: 30px 0;}
.subContent .container img{display: block; margin: 0 auto;}
.subContent .location{width: 860px; margin: 0 auto; font-size: 14px; margin-bottom: 16px;}

.subContent .subImgTitle{text-align: center; transform: translateY(-30px);}
.subContent .subImgTitle h3{font-size: 2em; text-shadow: 0,0 10px white;}
.subContent .subImgTitle p{text-shadow: 0, 0 10px white;}
.subContent .subImgTitle h3::after{
    content: "";display: block; width: 80%; height: 2px;
    background: #fff; margin: 0 auto; margin: 10px auto;
}








/* citytour */
.subContent.cityTour .subImg{
    background-image: url(../images/subimg02.jpg);
}








/* company */
body.sub{background: #ccc;}
.subContent.company .subImg{
    background-image: url(../images/subimg01.jpg);
}
.subContent.company .container{
    border: 1px solid #555;
    border-top: 5px solid #0664a1;
    border-bottom: 5px solid #0664a1;
    position: relative; top: -50px;
    background: #fff;
}




























/* footer */
.footerWrap{width: 980px; margin: 0 auto; }
.footerWrap ul{padding:15px 0;}
.footerWrap ul li{float: left; padding-right: 20px;}
.footerWrap ul li a{
    color: #555; font-size: 14px;
}
.footerWrap p{
    line-height: 20px; color: #7E7E7E; font-size: 12px; margin-bottom: 10px;}






